<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.rulemanage.mapper.Eprdeclaration1Mapper">

    <resultMap id="BaseResultMap" type="web.rulemanage.domain.Eprdeclaration1">
            <id property="eprdeclarationid" column="EPRDeclarationID" jdbcType="INTEGER"/>
            <result property="companyregistrationlocation" column="CompanyRegistrationLocation" jdbcType="VARCHAR"/>
            <result property="companyname" column="CompanyName" jdbcType="VARCHAR"/>
            <result property="businesslicensenumber" column="BusinessLicenseNumber" jdbcType="VARCHAR"/>
            <result property="companyestablishmentdate" column="CompanyEstablishmentDate" jdbcType="DATE"/>
            <result property="companyoperationaladdress" column="CompanyOperationalAddress" jdbcType="VARCHAR"/>
            <result property="postalcode" column="PostalCode" jdbcType="VARCHAR"/>
            <result property="companyphonenumber" column="CompanyPhoneNumber" jdbcType="VARCHAR"/>
            <result property="companycontactemail" column="CompanyContactEmail" jdbcType="VARCHAR"/>
            <result property="legalrepresentativename" column="LegalRepresentativeName" jdbcType="VARCHAR"/>
            <result property="mainsalesplatform" column="MainSalesPlatform" jdbcType="VARCHAR"/>
            <result property="shopname" column="ShopName" jdbcType="VARCHAR"/>
            <result property="informationlink" column="InformationLink" jdbcType="VARCHAR"/>
            <result property="shopbackendselleraddress" column="ShopBackendSellerAddress" jdbcType="VARCHAR"/>
            <result property="shopbackendcompanyname" column="ShopBackendCompanyName" jdbcType="VARCHAR"/>
            <result property="mainbusinessscope" column="MainBusinessScope" jdbcType="VARCHAR"/>
            <result property="brandcount" column="BrandCount" jdbcType="INTEGER"/>
            <result property="brandenglishname" column="BrandEnglishName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        EPRDeclarationID,CompanyRegistrationLocation,CompanyName,
        BusinessLicenseNumber,CompanyEstablishmentDate,CompanyOperationalAddress,
        PostalCode,CompanyPhoneNumber,CompanyContactEmail,
        LegalRepresentativeName,MainSalesPlatform,ShopName,
        InformationLink,ShopBackendSellerAddress,ShopBackendCompanyName,
        MainBusinessScope,BrandCount,BrandEnglishName,
        CompanyRegistrationProof,IDCardFront,IDCardBack,
        Signature
    </sql>
</mapper>
