<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.rulemanage.mapper.PackagingsummarydeclarationMapper">

    <resultMap id="BaseResultMap" type="web.rulemanage.domain.Packagingsummarydeclaration">
            <id property="summaryid" column="SummaryID" jdbcType="INTEGER"/>
            <result property="registrationcode" column="RegistrationCode" jdbcType="VARCHAR"/>
            <result property="declarationyear" column="DeclarationYear" jdbcType="INTEGER"/>
            <result property="brandname" column="BrandName" jdbcType="VARCHAR"/>
            <result property="declarationdataserialnumber" column="DeclarationDataSerialNumber" jdbcType="INTEGER"/>
            <result property="packagingmaterial" column="PackagingMaterial" jdbcType="VARCHAR"/>
            <result property="predeclaredweight" column="PreDeclaredWeight" jdbcType="DECIMAL"/>
            <result property="actualpackagingweight" column="ActualPackagingWeight" jdbcType="DECIMAL"/>
            <result property="eprdeclarationid" column="EPRDeclarationID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        SummaryID,RegistrationCode,DeclarationYear,
        BrandName,DeclarationDataSerialNumber,PackagingMaterial,
        PreDeclaredWeight,ActualPackagingWeight,EPRDeclarationID
    </sql>
</mapper>
