<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.rulemanage.mapper.TodosMapper">

    <resultMap id="BaseResultMap" type="web.rulemanage.domain.Todos">
            <id property="todoid" column="ToDoID" jdbcType="INTEGER"/>
            <result property="userid" column="UserID" jdbcType="INTEGER"/>
            <result property="description" column="Description" jdbcType="VARCHAR"/>
            <result property="status" column="Status" jdbcType="VARCHAR"/>
            <result property="duedate" column="DueDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        ToDoID,UserID,Description,
        Status,DueDate
    </sql>
</mapper>
